#gamecontainer{
    width: 450px;
    background-color: black;
    border: solid;
    border-radius: 30px;
    border-color: blue;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#score{
    margin: 10px;
    text-align: center;
    color: white;
    border: solid;
    border-color: blue;
    border-radius: 10px;
}
#gameboard{
    margin-left: auto;
    margin-right: auto;
    width:420px;
	height:465px;
	background-color: gray;
    position: relative;
}
#gamefooter{
    margin: 10px;
    text-align: center;
    color: white;
    border: solid;
    border-color: blue;
    border-radius: 10px;
}
.wall{
    width: 15px;
    height: 15px;
    background-color: rgb(79, 79, 216);
    position: absolute;
}
.pacdot{
    width: 15px;
    height: 15px;
    background-color: rgb(199, 199, 86);
    position: absolute;
}
.empty{
    width: 15px;
    height: 15px;
    background-color: black;
    position: absolute;
}
.energizer{
    width: 15px;
    height: 15px;
    background-color: rgb(187, 36, 36);
    position: absolute;
}
.pacRespawn{
    width: 15px;
    height: 15px;
    background-color: black;
    position: absolute;
}
.ghostRespawn{
    width: 15px;
    height: 15px;
    background-color: black;
    position: absolute;
}

.pacou{
    width: 15px;
    height: 15px;
    background-color: rgb(255, 174, 0);
    position: absolute;
}

.ghost{
    width: 15px;
    height: 15px;
    background-color: rgb(202, 0, 158);
    position: absolute;
}
